
@media only screen and (max-width: 400px) {

    .card {
        display: inline-block;
        margin: 10px;
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        padding: 20px;
    }

    .header {
        width: 100%;
        hight: 12px;
    }

}

.card header {
    margin-top: 0px;
}

.card footer li h4 button {
    color: #000000;

}

.card footer li h4 button:hover {
    color: #ffffff;

}

.card:hover {
    background-color: #eeeeee;
}

p {
    margin-top: 10px !important;
}

footer ul h4 {
    width: 50%;
    padding-right: 0px;
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    .card {
        display: inline-block;
        margin: 10px;
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        padding: 20px;
    }


    .header {
        width: 100%;
        hight: 12px;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {

    .card {
        display: inline-block;
        margin: 10px;
        border: 1px solid #eee;
        box-shadow: 0 2px 2px #ccc;
        width: 400px;
        padding: 20px;
    }

    .header {
        width: 100%;
        hight: 12px;
    }


}


