.content {
    margin-top: 90px;
    width: 100%;
    max-width: 100%;
}

.mainHeader {
    /*border-bottom: 1px solid #000;*/
    /*border-width: 2px;*/
    /*background-color: #282828;*/
    /*color: #ffffff;*/
    /*border-color: #eee !important;*/
    display: flex;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0px;
    left: 0px;
}

button {
    float: right;
    padding: 10px;
}

h1 {
    font-weight: 300;
}

.mainHeader h1 {
    margin: 1% 2%;
    margin-right: auto;
}

.notify {
    position: relative;
    display: block;
    height: 50px;
    width: 50px;
    background: url('http://i.imgur.com/evpC48G.png');
    background-size: contain;
    text-decoration: none;
}
.num {
    position: absolute;
    right: 17px;
    top: 7px;
    color: #ffffff;
}
